<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adobe.marketing.mobile">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".tutorial.MainApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EdgeTutorialAppStart"
        tools:targetApi="31">
        <activity
            android:name=".tutorial.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EdgeTutorialAppStart.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="DeepLink">
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="aepedgetutorialappstart"
                    android:host="open.my.app"
                    />
<!--                <data-->
<!--                    android:host="www.aepedgetutorialappstart.com"-->
<!--                    android:scheme="https" />-->
            </intent-filter>

<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW"/>-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                &lt;!&ndash; Accepts URIs that begin with "testapp://main”&ndash;&gt;-->

<!--                &lt;!&ndash; Accepts URIs that begin with "example://gizmos” &ndash;&gt;-->
<!--&lt;!&ndash;                <data android:scheme="example"&ndash;&gt;-->
<!--&lt;!&ndash;                    android:host="gizmos" />&ndash;&gt;-->

<!--                <data-->
<!--                    android:scheme="aepedgetutorialappstart"-->
<!--                    android:host="main" />-->

<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>